# Logs
logs/
telemetry/

# Python venv
__pycache__/
telemetry_*
privkey.txt
watchdog_state/
watchdog_disable_list.json
bin/
lib64
lib/
include/

# Screener Output
screener_export.csv

# Keys and Params
id_rsa
.env
